html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map1 {
  height: 90%;
}

#values {
  height: 10%;
  position: fixed; 
  bottom: 0%; 
  width: 100%;
}

#map {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map {
    height: 650px;
  }
}
