.navbar-default {
 background: #313131; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#313131,#343434,#373737); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#313131,#343434,#373737); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#313131,#343434,#373737); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#313131,#343434,#373737); /* Standard syntax (must be last) */
    box-shadow: 1px 2px 6px #252628;
border:none;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  min-height: 50px;
}

.navbar-default .navbar-header .navbar-brand {
  color: #f05f40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: rgba(255,255,255,0.7);
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #fff;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #f05f40 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
  border:none;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #f05f40;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #f05f40;
  }
}
i{
	border-radius:50%;

}
i.fa.fa-user-md{
	border:2px solid #0ab9c1;
	padding:35px;
}

i.fa.fa-hospital-o
{
	border:2px solid #31fa91;
	padding:35px;
}
.med{
	border:2px solid rgba(250, 85, 49, 0.6);

		padding:35px;
		border-radius:50%;
}


header{
  position:relative;
  top:100px;

}
header h3{
  color:rgba(0,0,0,0.7);
  font-weight:2.1em;


}
.reg{
  margin-top:10%;
  background:none;
  border:1px solid rgba(0,0,0,0.5);
  padding:10px 20px;
  border-radius: 2px;
  margin-bottom:10%;
}

.reg:hover{
  box-shadow:1px 3px 10px rgba(0,0,0,0.4);
}
