.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #999999;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
  opacity: 1 !important;
}
.form-control:focus {
  border-color: #000000;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px  -2px rgba(0,0,0,.075), 0 0 8px -2px rgba(120, 120, 120, 0.6);
  box-shadow: inset 0 1px 1px -2px rgba(0,0,0,.075), 0 0 8px -2px rgba(120, 120, 120, 0.6);
}
.form-group {
  margin-bottom: 20px;
}
label{
  font-family: "Cardo","Times New Roman",Times,serif;
  font-weight:normal;
  font-size:16px;
}

.btn {
  margin-top:30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 0;
  transition:all 0.3s ease;
}
.btn-primary {
  color: rgba(73, 194, 183, 1);
  background-color: #ffffff;
  border-color:rgba(73, 194, 183, 1);
}


.btn-primary:hover {
  color:#ffffff;
  background-color: rgba(73, 194, 183, 1);
  border-color:rgba(73, 194, 183, 1);
}
.container .form{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.form li{
  color: #333;
  display: block;
  position: relative;
  float: left;
  width: 50%;
  height: 100px;

}

.form li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.form li label{
  display: block;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.form li:hover label{
  color: rgba(73, 194, 183, 1);
}

.form li .check{
  display: block;
  position: absolute;
  border: 3px solid #666;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 40px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

.form li:hover .check {
  border: 3px solid rgba(73, 194, 183, 1);
}

.form li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 11px;
  width: 11px;
  top: 4px;
  left: 4px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 3px solid rgba(73, 194, 183, 1);
}

input[type=radio]:checked ~ .check::before{
  background: rgba(73, 194, 183, 1);
}

input[type=radio]:checked ~ label{
  color: rgba(73, 194, 183, 1);
}



