html,
body {
  height: 100%;
  width: 100%;
  padding-top: 25px;
}


.navbar{
  margin-bottom: 0 !important;
}

.navbar-custom{
  position:fixed;
  width:100%;
  z-index:1;
  
 
}
 .navbar-inverse .navbar-header .navbar-brand {
  color: #f05f40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.navbar-inverse .navbar-header .navbar-brand:hover,
.navbar-inverse .navbar-header .navbar-brand:focus {
  color: #19a0af;
}


.navbar-inverse .nav > li > a,
.navbar-inverse .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 12px;
  color: #000;
}


.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus:hover {
 background-color: #444444;
  color: #fff;
}



.navbar-inverse .nav > li.active > a,
.navbar-inverse .nav > li.active > a:focus {
  color: #009688 !important;
  background-color: white;
}


.navbar-inverse .nav > li.active > a:hover,
.navbar-inverse .nav > li.active > a:focus:hover {
  background-color: #009688;
}


#top-bar{
  min-height: 40px;
  background-color: #Ee7621;
  padding-top: 10px;
  box-shadow: 0 0 1px rgba(255,120,3,1);
}




::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
  height: 2px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.text-line {
  background-color: transparent;
  color: #000;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000 1px;
}
h2{
  position:relative;
 text-align: center;
  background-color:#19a0af;
    padding:3%;
  width:100%;
}
#first h4{
  
  color: rgba(255,80,20,0.8);
}
#first{
  position: relative;
 
  padding-top: 25px;
  padding-bottom:25px;

max-width:100%;
text-align:justify;
text-justify:inter-word;

}
