.navbar-inverse {
	background-color:rgba(59,54,52,1);
	background:rgba(59,54,52,01);
	color:#000;
	border-color: rgba(240,143,98,1.0);
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-inverse .nav > li > a,
.navbar-inverse .nav > li > a:focus{
  font-family: 'Andale Mono', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus:hover {
  color: #000;
  background-color: rgba(251,201,64,0.9);
  /*color: #009688;*/
}


#bs-example-navbar-collapse-1{
 font-family: 'Ubuntu';
  font-size: 13px;
  font-weight: 300;
  color:#fff;

}
