html,
body {
  height: 100%;
  width: 100%;
  padding-top: 25px;
}

.navbar{
  margin-bottom: 0 !important;
}

#test{
  min-height: 50px;
  background-color: #ece4e4;
  padding-top: 12px;
  padding-bottom: 10px;
  box-shadow: 0 0 7px black;
}