html,
body {
  height: 100%;
  width: 100%;
  padding-top: 25px;
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/home_bg.png');
  text-align: center;
  color:white;

  
}


.navbar{
  margin-bottom: 0 !important;
}

.navbar-custom{
  position:fixed;
  width:100%;
  z-index:1;
  border-color:#000;
}
.navbar-inverse{
background-color: rgba(255,255,255,0);
border-color:#a1d6e2;

}

#top-bar{
  min-height: 40px;
  background-color: #ece4e4;
  padding-top: 10px;
  box-shadow: 0 0 7px black;
}


::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
  height: 2px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.text-line {
  background-color: transparent;
  color: #5a5a5a;
  outline: none;
  outline-style: none;
  outline-offset: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #999999 2px;
}